<h2 class="pt-4 px-4">Próxima Preventiva</h2>
<form class="p-4" [formGroup]="preventiveModalForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100" appearance="outline">
      <mat-label>Próxima Preventiva</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="nextPreventive">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  <button mat-flat-button color="primary" type="submit" class="w-100 py-2">Salvar</button>
</form>