<mat-toolbar color="primary" style="height: 74px">
  <div class="d-flex align-items-center px-4">
    <mat-icon>assignment</mat-icon>
    <strong>F</strong>ast<strong>EM</strong>ag
  </div>
  <span class="flex-grow-1"></span>
  <div class="d-flex flex-column align-items-center px-4" routerLink="/equipment">
    <mat-icon>settings_applications</mat-icon>
    <small>Equipamentos</small>
  </div>
  <div class="d-flex flex-column align-items-center px-4" routerLink="/preventive">
    <mat-icon>build</mat-icon>
    <small>Preventivas</small>
  </div>
  <div class="d-flex flex-column align-items-center px-4" routerLink="/defects">
    <mat-icon>block</mat-icon>
    <small>Defeitos</small>
  </div>
  <div class="d-flex flex-column align-items-center px-4" routerLink="/service-order">
    <mat-icon>assessment</mat-icon>
    <small>Ordem de Serviço</small>
  </div>
  <div class="d-flex flex-column align-items-center px-4" routerLink="/">
    <mat-icon>exit_to_app</mat-icon>
    <small>Sair</small>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
